@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	.highlight {
		isolation: isolate;
		position: relative;
		white-space: nowrap;

		--highlight-spread-t: 0;
		--highlight-spread-r: 0;
		--highlight-spread-b: 0;
		--highlight-spread-l: 0;

		&::after {
			content: var(--tw-content);
			position: absolute;
			z-index: -1;
			top: var(--highlight-spread-t);
			bottom: var(--highlight-spread-b);
			left: var(--highlight-spread-l);
			right: var(--highlight-spread-r);
			mask-image: url('/highlight.svg');
			-webkit-mask-image: url('/highlight.svg');
			mask-repeat: no-repeat;
			-webkit-mask-repeat: no-repeat;
			mask-size: 100% 100%;
			-webkit-mask-size: 100% 100%;
		}
	}

	.highlight-spread-sm {
		--highlight-spread-t: -4px;
		--highlight-spread-r: -4px;
		--highlight-spread-b: -4px;
		--highlight-spread-l: -4px;
	}

	.highlight-animate {
		&::after {
			mask-size: 0% 100%;
			-webkit-mask-size: 0% 100%;
			animation: highlight-animation 0.5s ease-in-out;
			animation-fill-mode: forwards;
		}
	}
}

@keyframes highlight-animation {
	to {
		mask-size: 100% 100%;
		-webkit-mask-size: 100% 100%;
	}
}
